Package: com.yourcompany.mytweak
Name: myTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: zhang Ting
Author: zhang Ting
Section: Tweaks
